html,body,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,input,textarea{ margin:0px; padding:0px; }

body{ font:12px/1.5em 微软雅黑; }


a,a:link,a:hover,a:active,a:visited{ color:#333; }

ul,ol,li{ list-style:none; } 

.container-top{ height:50px; background:#33cccc; overflow:hidden; }

.main-title{ font-size:18px; height:100%; float:left; line-height:50px; margin-left:15px; }
.main-top-menu{ height:100%; float:right; margin-right:10px; }
.main-top-menu ul{ float:right; height:30px; line-height:30px;}
.main-top-menu ul li{ float:left; margin-right:5px; }
.container-bottom{ margin-left:80px; position:relative; }
.container-left{ position:absolute; top:0px; left:-80px; width:80px; }
.container-left ul{  padding:5px; }
.container-right{ padding:20px;}

td,th{ padding:3px; box-sizing:border-box; }

.login{ width:160px; height:240px; position:absolute; left:50%; top:50%; margin-top:-120px; margin-left:-80px; font-size:16px; }
.login span{ display:block; padding:5px 0px; }
.login-title{ text-align:center; }
.login input{ width:100%; margin:0px; padding:0px; box-sizing:border-box; height:26px; line-height:26px;}
.login-submit{ padding-top:10px; text-align:center;}
.login-submit input{ width:50%; text-align:center;}
#error-box{ color:#f00; text-align:center;padding:5px; margin-top:5px; }

.blog-list table.table-list{ width:100%; table-layout:fixed; border-collapse:collapse; }
.blog-list table.table-list,.blog-list table.table-list th,.blog-list table.table-list td{ border:1px solid #eee; }
.column-title{ height:30px; line-height:30px; text-indent:10px; }
.blog-list table th.h1{ width:50px; }
.blog-list table td.c1,.blog-list table td.c5{ text-align:center; }

.pagebar{ text-align:center;}
.pagebar table{ margin:auto; width:auto; }
.pagebar table ul{ float:left;  line-height:30px; }
.pagebar table ul li{ float:left; margin:0px 10px; }
.pagebar table ul li.step{ min-width:30px; margin:0px 2px; }

table.blog-edit{ width:100%; table-layout:fixed; }
table.blog-edit .c1{ width:60px; }
table.blog-edit .c2{ text-align:left; }

table.blog-edit .input{ margin:0px; width:100%;}
table.blog-edit textarea{ width:100%; margin:0px; height:300px; }
table.blog-edit textarea#summary{ height:60px; }

#imagebox img{width:100px;}

.submit{ height:30px; width:100px; margin:0px; margin-top:10px;}


.alert-parent{ position:relative; }
.alert-box{ width:300px; height:300px; position:absolute; left:50%; top:50%; margin-top:-150px; margin-left:-150px; margin-top:50px; text-align:center;}

.table-list td{ text-align:center; }
.top-button-box{ padding:5px 0px 10px; }
.user-add .c1{ text-align:right; }
#list-box .sort{ width:30px; }
.kind-list{ overflow:hidden; zoom:1; }
.kind-list li{ float:left; height:30px; line-height:30px; border:1px solid #eee; padding:0px 5px; margin:5px; }

.kind-list li a{ display:block; text-decoration:none; }
.kind-list li.cur{ background:#999; color:#fff }

.tl,.table-list .tl{ text-align:left; }
.tr,.table-list .tr{ text-align:right; }
.tc,.table-list .tc{ text-align:center; }

.config-table .c1{ width:60px; text-align:left; }

.bloglist .c2{ text-align:left; }